/* 

NAV

*/

.content-wrapper {
    max-width: 1400px;
}

.wrapper {
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
    z-index: 2
}


.navbar {
    height: 326px;
    padding: 40px;
    background-color: grey;
    display: flex;
    align-items: center;
    position: relative;
}

.link {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.logo {
    transition: all .15 ease;
}
.logo:hover {
    -webkit-filter: none;
    filter: none;
}

.links a.btn-contact {
    background-color: #fff;
    color: #c7000c!important;
}
.links a.btn-contact:hover {
    background-color: #ff6655;
    color: #fff!important;
}

.input-wrapper {
    display: flex;
    position: relative;
    margin-right: 15px;
    width: 100%;
    max-width: 600px;
    position: relative;
    animation: fadeUp .8s ease-out forwards;
    animation-delay: .6s;
}

.input-wrapper button {
    cursor: pointer;
    background-color: #fff;
    border: none;
    position: absolute;
    width: 40px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    right: 1px;
}


.input-wrapper svg {
    height: 100%;
    width: 70%;
    z-index: 10;
    color: #c7000c;
    pointer-events: none;
}

input {
    border-radius: 30px;
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
}
input:focus, select:focus{
    box-shadow: 0 0 0 1px #c7000c;
}

.overlay {
    background-image: url(/Resourses/livemusic.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    opacity: 15%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(254, 201, 198, 0.372);
    pointer-events: none;
}

h1 {
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 40px;
    color: #fff;
}
.nav-header {
    animation: fadeUp .6s ease-out;
}


.black-txt {
    color: #000;
    display: inline-block;
}

/* 

SEARCH

*/


#search {
    position: relative;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.search-wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: #c7000c;
    font-size: 32px;
    transition: all .2s ease;
}
.search-wrapper:hover {
    color: #ff6655;
}

.search-arrow {
    font-size: 32px;
    margin-right: 12px;
    color: #c7000c;
    cursor: pointer;
    padding: 10px;
    box-sizing: content-box;
}

.top {
    width: 100%;
    margin: 0 auto;
}

.search-info {
    font-weight: bold;
    font-size: 28px;
    padding: 20px 0;
    line-height: 1.25;
    letter-spacing: normal;
}

@keyframes i {
    0% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotate(0)
    }

    12.5% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotate(0)
    }

    12.51% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotateX(180deg) rotate(72.5deg)
    }

    25% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotateX(180deg) rotate(72.5deg)
    }

    25.1% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotate(270deg)
    }

    37.5% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotate(270deg)
    }

    37.51% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotateX(180deg) rotate(161.5deg)
    }

    50% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotateX(180deg) rotate(161.5deg)
    }

    50.01% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotate(180deg)
    }

    62.5% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotate(180deg)
    }

    62.51% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotateX(180deg) rotate(251.5deg)
    }

    75% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotateX(180deg) rotate(251.5deg)
    }

    75.01% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotate(90deg)
    }

    87.5% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotate(90deg)
    }

    87.51% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotateX(180deg) rotate(341.5deg)
    }

    to {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotateX(180deg) rotate(341.5deg)
    }
}

/* ----------------- */

.md-progress-bar {
    height: 5px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    transform-origin: center center;
    transition: opacity .3s cubic-bezier(.4, 0, .2, 1), transform .4s cubic-bezier(.4,0,.2,1);
    will-change: opacity, transform;
    background-color: rgba(199, 0, 12, 0.38);
}

.md-progress-bar-track,
.md-progress-bar-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: top left;
    will-change: transform;
}

.md-progress-bar-track:after,
.md-progress-bar-fill:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: inline-block;
    background-color: #c7000c;
}

.md-progress-bar.md-indeterminate .md-progress-bar-track {
    left: -150%;
    animation: trackSlide 2s linear infinite;
}

.md-progress-bar.md-indeterminate .md-progress-bar-track:after {
    animation: trackScale 2s linear infinite;
}

.md-progress-bar.md-indeterminate .md-progress-bar-fill {
    left: -55%;
    animation: fillSlide 2s linear infinite;
}

.md-progress-bar.md-indeterminate .md-progress-bar-fill:after {
    animation: fillScale 2s linear infinite;
}

@keyframes trackSlide {
    0%, 20% { transform: translateX(0); }
    60% { transform: translateX(83.67%); }
    100% { transform: translateX(200.61%); }
}

@keyframes trackScale {
    0%, 35% { transform: scaleX(.08); }
    70% { transform: scaleX(.66); }
    100% { transform: scaleX(.08); }
}

@keyframes fillSlide {
    0% { transform: translateX(0); }
    25% { transform: translateX(37.65%); }
    50% { transform: translateX(84.39%); }
    100% { transform: translateX(160.28%); }
}

@keyframes fillScale {
    0% { transform: scaleX(.08); }
    20% { transform: scaleX(.46); }
    45% { transform: scaleX(.73); }
    100% { transform: scaleX(.08); }
}

/* ----------------- */


/* ----------------- */


#songs-list {
    flex: 2;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 600px;
}


#artists-list {
    flex: 1;
    max-width: 240px;
    display: flex;
    flex-direction: column;
}


#songs-list::before {
    content: "Songs";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
#artists-list::before {
    content: "Artists";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.song-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    transition: background-color .2s ease;
    cursor: pointer;
}
.song-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
}

.song-card img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.song-card .text {
    display: flex;
    flex-direction: column;
}
.song-card .text h3 {
    font-size: 18px;
    margin: 0;
    color: #c7000c;
}
.song-card .text p {
    margin: 4px 0 0 0;
    font-size: 14px;
    color: #555;
}

.artist-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    transition: tranform .2s ease, box-shadow .2s ease;
    cursor: pointer;
}
.artist-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
}

.artist-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.artist-card .text p {
    font-weight: 600;
    font-size: 15px;
    color: #333;
    margin: 0;
}

/* ----------------- */



/* ---------------- */

#search-section {
    padding: 40px 40px;
    animation: fadeUp .8s ease-out forwards;
    animation-delay: .8s;
    display: block;
}

#search-results {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}


#search-state {
    width: 100%;
    display: block;
    padding: 1rem 0;
}

#lyrics-container {
    min-height: 200px;
    padding: 1rem;
    display: block;
}


.loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    text-align: center;
}

.loading-state, .empty-state {
    text-align: center;
    padding: 2rem 1rem;
    color: #999;
}

.loading-artists i {
    font-size: 2rem;
    color: #c7000c;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

.loading-artists p {
    font-size: 16px;
    color: #444;
    font-weight: 500;
}

.empty-state {
    padding: 60px 10px 20px 10px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeUp .5s ease-out;
}

.empty-state h1 {
    margin: 14px 0 6px 0;
    font-size: 20px;
    font-weight: 700;
    color: #c7000c;
}



/* ----------------- */



/*  */

@media screen and (max-width: 375px) {
    h1 {
        font-size: 23px;
    }

    #search-input {
        font-size: 14px;
    }

    .search-wrapper {
        font-size: 20px;
        padding: 0 10px 0 8px;
    }

}


@media(max-width: 450px) {
    h2 {
        display: flex;
        flex-direction: column
    }

    h2 .black-txt {
        margin-bottom: 6px
    }
}


@media screen and (max-width: 500px) {
    h1 {
        font-size: 31px;
    }

    #search-input {
      font-size: 16px;  
    }
}


@media screen and (max-width: 750px) {
    h1 {
        font-size: 36px;
    }

    #search-input {
        font-size: 18px;
    }
    .input-wrap {
        max-width: 500px;
    }


    .links {
        display: none !important;
    }

    #phone-nav {
        display: block;
    }

    .search-info {
        font-size: 24px;
    }
}
