.hidden {
    display: none !important;
}
  

/* 

NAV

*/

.content-wrapper {
    max-width: 1400px;
}

.wrapper {
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
    z-index: 2
}


.navbar {
    height: 326px;
    padding: 40px;
    background-color: grey;
    display: flex;
    align-items: center;
    position: relative;
}

.link {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.logo {
    transition: all .15 ease;
}
.logo:hover {
    -webkit-filter: none;
    filter: none;
}

.links a.btn-contact {
    background-color: #fff;
    color: #c7000c!important;
}
.links a.btn-contact:hover {
    background-color: #ff6655;
    color: #fff!important;
}

.input-wrapper {
    display: flex;
    position: relative;
    margin-right: 15px;
    width: 100%;
    max-width: 600px;
    position: relative;
    animation: fadeUp .8s ease-out forwards;
    animation-delay: .6s;
}

.input-wrapper button {
    cursor: pointer;
    background-color: #fff;
    border: none;
    position: absolute;
    width: 40px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    right: 1px;
}


.input-wrapper svg {
    height: 100%;
    width: 70%;
    z-index: 10;
    color: #c7000c;
    pointer-events: none;
}

input {
    border-radius: 30px;
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
}
input:focus, select:focus{
    box-shadow: 0 0 0 1px #c7000c;
}

.overlay {
    background-image: url(../Resourses/livemusic.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    opacity: 15%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(254, 201, 198, 0.372);
    pointer-events: none;
}

.nav-header {
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 40px;
    color: #fff;
}
.nav-header {
    animation: fadeUp .6s ease-out;
}


.black-txt {
    color: #000;
    display: inline-block;
}

/* 

SEARCH

*/


#search {
    position: relative;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.search-wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: #c7000c;
    font-size: 32px;
    transition: all .2s ease;
}
.search-wrapper:hover {
    color: #ff6655;
}

.search-arrow {
    font-size: 32px;
    margin-right: 12px;
    color: #c7000c;
    cursor: pointer;
    padding: 10px;
    box-sizing: content-box;
}

.top {
    width: 100%;
    margin: 0 auto;
}

.search-info {
    font-weight: bold;
    font-size: 28px;
    padding: 20px 0;
    line-height: 1.25;
    letter-spacing: normal;
}

@keyframes i {
    0% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotate(0)
    }

    12.5% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotate(0)
    }

    12.51% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotateX(180deg) rotate(72.5deg)
    }

    25% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotateX(180deg) rotate(72.5deg)
    }

    25.1% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotate(270deg)
    }

    37.5% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotate(270deg)
    }

    37.51% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotateX(180deg) rotate(161.5deg)
    }

    50% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotateX(180deg) rotate(161.5deg)
    }

    50.01% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotate(180deg)
    }

    62.5% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotate(180deg)
    }

    62.51% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotateX(180deg) rotate(251.5deg)
    }

    75% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotateX(180deg) rotate(251.5deg)
    }

    75.01% {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotate(90deg)
    }

    87.5% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotate(90deg)
    }

    87.51% {
        stroke-dashoffset: var(--md-progress-spinner-end-value);
        transform: rotateX(180deg) rotate(341.5deg)
    }

    to {
        stroke-dashoffset: var(--md-progress-spinner-start-value);
        transform: rotateX(180deg) rotate(341.5deg)
    }
}

/* ----------------- */

.md-progress-bar {
    height: 5px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    transform-origin: center center;
    transition: opacity .3s cubic-bezier(.4, 0, .2, 1), transform .4s cubic-bezier(.4,0,.2,1);
    will-change: opacity, transform;
    background-color: rgba(199, 0, 12, 0.38);
}

.md-progress-bar-track,
.md-progress-bar-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: top left;
    will-change: transform;
}

.md-progress-bar-track:after,
.md-progress-bar-fill:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: inline-block;
    background-color: #c7000c;
}

.md-progress-bar.md-indeterminate .md-progress-bar-track {
    left: -150%;
    animation: trackSlide 1s linear infinite;
}

.md-progress-bar.md-indeterminate .md-progress-bar-track:after {
    animation: trackScale 1s linear infinite;
}

.md-progress-bar.md-indeterminate .md-progress-bar-fill {
    left: -55%;
    animation: fillSlide 1s linear infinite;
}

.md-progress-bar.md-indeterminate .md-progress-bar-fill:after {
    animation: fillScale 1s linear infinite;
}

@keyframes trackSlide {
    0%, 20% { transform: translateX(0); }
    60% { transform: translateX(83.67%); }
    100% { transform: translateX(200.61%); }
}

@keyframes trackScale {
    0%, 35% { transform: scaleX(.08); }
    70% { transform: scaleX(.66); }
    100% { transform: scaleX(.08); }
}

@keyframes fillSlide {
    0% { transform: translateX(0); }
    25% { transform: translateX(37.65%); }
    50% { transform: translateX(84.39%); }
    100% { transform: translateX(160.28%); }
}

@keyframes fillScale {
    0% { transform: scaleX(.08); }
    20% { transform: scaleX(.46); }
    45% { transform: scaleX(.73); }
    100% { transform: scaleX(.08); }
}

/* ----------------- */


/* ----------------- */

.results-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
    color: #999;
    text-align: left;
}

.results-container.lists {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.songs-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}
.artists-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.results-wrapper.hidden {
    display: none;
}

#songs-list {
    height: 500px;
    width: 450px;
}
#artists-list {
    height: 500px;
    width: 300px;
}

.pagination-buttons {
    margin-top: 1rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
}

#songs-list::before {
    content: "Songs";
    font-weight: bold;
    font-size: 20px;
    margin: 10px 10px 40px 10px;
    display: flex;
    justify-content: center;
}
#artists-list::before {
    content: "Artists";
    font-weight: bold;
    font-size: 20px;
    margin: 10px 10px 40px 10px;
    display: flex;
    justify-content: center;
}

.song-card {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    transition: background-color .2s ease;
    cursor: pointer;
}
.song-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
}

.song-card img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: 10px;
    object-fit: cover;
}

.song-card .text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.song-card .text h3 {
    font-size: 14px;
    margin: 0;
    color: #222;
}
.song-card .text p {
    margin: 4px 0 0 0;
    font-size: 12px;
    font-weight: 600;
    color: #555;
}

.artist-card {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 10px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    transition: tranform .2s ease, box-shadow .2s ease;
    cursor: pointer;
}
.artist-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
}

.artist-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

.artist-card .text p {
    font-weight: 600;
    font-size: 15px;
    color: #333;
    margin: 0;
}

#songs-buttons {
    display: flex;
    flex-direction: row;
}
#artists-buttons {
    display: flex;
    flex-direction: row;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.pagination-btn {
    background-color: #fff;
    color: #c7000c;
    border: 2px solid #c7000c;
    border-radius: 14px;
    padding: 8px 14px;
    font-size: 18px;
    margin: 0 6px;
    cursor: pointer;
    transition: all .3 ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.pagination-btn:hover {
    background-color: #c7000c;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

.pagination-btn.active {
    background-color: #c7000c;
    color: #fff;
    font-weight: 600;
    border: 2px solid #c7000c;
}

/* ----------------- */



/* ---------------- */

#search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-results {
    align-items: center;
    margin: 140px 0;
    animation: fadeUp .9s ease-out forwards;
}


#search-state {
    width: 100%;
    display: block;
    padding: 1rem 0;
}

#lyrics-container {
    min-height: 200px;
    padding: 2rem;
    display: flex;
    justify-content: center; 
    transition: min-height .3s ease;
}
.lyrics-container h2 {
    margin: 0 0 60px;
}

.lyrics-block, .lyrics-block pre {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #222;
    white-space: pre-wrap;
}

.lyrics-block {
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    background-color: #f8f8f8;
    color: #222;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    text-align: left;
    font-size: 14px;
    white-space: pre-wrap;
}

.lyrics-block h2 {
    font-family: inherit;
    font-size: 22px;
    margin-bottom: 20px;
    color: #c7000c;
    text-align: center;
}

.lyrics-text {
    white-space: pre-line;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: normal;
    margin-top: 20px;
}
.lyrics-text p {
    margin: 0;
    line-height: 1.8;
}

.lyrics-paragraph {
    margin-bottom: 30px;
}

.loading-state {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    text-align: center;
}

.loading-state, .empty-state {
    text-align: center;
    padding: 2rem 1rem;
    color: #999;
}

.loading-artists i {
    font-size: 2rem;
    color: #c7000c;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

.loading-artists p {
    font-size: 16px;
    margin-top: 10px;
    color: #444;
    font-weight: 500;
}

.empty-state {
    padding: 60px 10px 20px 10px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-state h1 {
    margin: 14px 0 6px 0;
    font-size: 20px;
    font-weight: 700;
    color: #c7000c;
}


/* ----------------- */

#default-view {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.default-hero {
    position: relative;
    background-image: url('/Resourses/music-explore.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 200px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-width: 1000px;
}

.hero-overlay {
    background: rgba(197, 195, 195, 0.867);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

  
.hero-title {
    display: flex;
    font-size: 34px;
    font-weight: bold;
    color: #c7000c;
    max-width: none;
    margin-bottom: 20px;
}

.hero-subtitle {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.default-random { 
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    right: auto;
}

.default-title {
    font-size: 20px;
    font-weight: 600;
    color: #c7000c;
    margin-bottom: 20px;
    text-align: center;
}


/* ----------------- */

#recommendations {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .6s ease, transform .6s ease;
}
#recommendations.visible {
    opacity: 1;
    transform: translateY(0);
}

.random-titles {
    font-size: 20px;
    color: #222;
}

.random-columns {
    margin-top: 2rem;
}
.random-columns.hidden {
    display: none;
}

.random-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0 auto;
    max-width: 800px;
}

.random-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.random-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-item {
    display: flex;
    border-radius: 4px;
    align-items: center;
    background: #fff;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    transition: transform .2 ease, box-shadow .2s ease;
    cursor: pointer;
    height: 60px;
    width: 400px;
}

.random-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, .1);
}

.random-item img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #eee;
}

.random-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
}

.random-info h4 {
    font-size: 14px;
    color: #222;
    font-weight: 700;
}

.random-info p {
    font-size: 12px;
    color: #555;
    font-weight: 600;
}

/* ----------------- */


.discover-title {
    font-size: 20px;
    font-weight: 600;
    color: #c7000c;
    margin-bottom: 20px;
    text-align: center;
}

.discover-card {
    display: flex;
    align-items: center;
    gap: 14px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 16px;
    padding: 10px 14px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.discover-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.discover-card img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #eee;
}

.discover-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.discover-info h4 {
    font-size: 16px;
    font-weight: 600;
    color: #222;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discover-info p {
    font-size: 14px;
    color: #555;
    margin: 4px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#discover-artists .random-item {
    max-width: 200px;
}



/* ----------------- */

#artist-profile {
    min-height: 500px;
}

.artist-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 40px 30px 280px;
    flex-wrap: wrap;
}
  
.artist-info {
    text-align: center;
    max-width: 300px;
    flex: 1;
}
  
.artist-info img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
  
.artist-songs {
    flex: 2;
    max-width: 400px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* ----------------- */



/*  */

@media screen and (max-width: 375px) {
    h1 {
        font-size: 23px;
    }

    #search-input {
        font-size: 14px;
    }

    .search-wrapper {
        font-size: 20px;
        padding: 0 10px 0 8px;
    }

}


@media(max-width: 450px) {
    h2 {
        display: flex;
        flex-direction: column
    }

    h2 .black-txt {
        margin-bottom: 6px
    }
}


@media screen and (max-width: 500px) {
    h1 {
        font-size: 31px;
    }

    #search-input {
      font-size: 16px;  
    }
}


@media screen and (max-width: 750px) {
    h1 {
        font-size: 36px;
    }

    #search-input {
        font-size: 18px;
    }
    .input-wrap {
        max-width: 500px;
    }


    .links {
        display: none !important;
    }

    #phone-nav {
        display: block;
    }

    .search-info {
        font-size: 24px;
    }
}
