*, :after, :before {
    box-sizing: inherit;
}

* {
    font-family: Open Sans, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

html.md-theme-default {
    background-color: #fafafa;
    background-color: var(--md-theme-default-background-variant, #fafafa);
    color: rgba(0, 0, 0, .87);
    color: var(--md-theme-default-text-primary-on-background-variant, rgba(0, 0, 0, .87));
}
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}

.md-body-1, body {
    font-weight: 400;
    line-height: 20px;
}

.md-body-1, .md-body-2, body {
    font-size: 14px;
    letter-spacing: .01em;
}

.flex {
    display: flex !important;
}

.flex-col {
    flex-direction: column !important;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

/*

NAV BAR

*/



.navbar {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between !important;
}

.align-center {
    align-items: center !important;
}



.navbar .logo {
    height: 40px;
    width: 40px;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.navbar .link {
    position: relative;
}

.navbar .link:after {
    background-color: #0a1f44;
    transition: all .25s cubic-bezier(.694,.048,.335,1);
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    z-index: 2
}

.navbar .link:hover:after {
    width: 100%;
    left: 0
}

.navbar .router-link-exact-active {
    color: #6030b1!important
}
.navbar .router-link-exact-active:after {
    background-color: #6030b1!important
}

.navbar a {
    color: #0a1f44!important;
    text-decoration: none
}

a.btn-contact {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}

a:hover {
    text-decoration: none !important;
}

a:not(.md-button):hover {
    text-decoration: underline;
}

.md-theme-default a:not(.md-button) {
    color: #448aff;
    color: var(--md-theme-default-primary-on-background, #448aff);
}

a.btn-contact:hover {
    background-color: #5d3eff;
    color: #fff !important;
}

/* 

Landing Page

*/

#landing-page {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 10px 20px 0 20px;
    max-height: calc(100vh - 165px);
    overflow: hidden;
    display: flex;
    flex: 1;
}

h1 {
    font-size: 58px;
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #6030b1;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #0a1f44;
    text-align: center;
    margin-bottom: 30px;
}

input {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
}
input:focus {
    box-shadow: 0 0 0 1px #6030b1
}

.input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

button {
    width: 200px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    transition: all .25s ease;
}

button.not-loading {
    border: 1px solid #6030b1;
    background-color: #6030b1;
    box-shadow: 7px 7px 14px rgba(134,93,204,.3);
    cursor: pointer
}
button.not-loading:active {
transform: scale(.95)
}

button.not-loading:hover {
    background-color: #ff328f;
    border: 1px solid #ff328f
}

button.loading {
    background-color: #0a1f44;
    cursor: no-drop
}

button.loading:hover {
    background-color: #000
}

button.loading:active {
    transform: scale(1)
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

@media screen and (max-width: 750px) {
    .links {
        display:none!important
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        padding:0 20px;
        height: 85px
    }
}
