*, :after, :before {
    box-sizing: inherit;
}

* {
    font-family: Open Sans, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

html.md-theme-default {
    background-color: #fafafa;
    background-color: var(--md-theme-default-background-variant, #fafafa);
    color: rgba(0, 0, 0, .87);
    color: var(--md-theme-default-text-primary-on-background-variant, rgba(0, 0, 0, .87));
}
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}

a:not(.md-button) {
    transition: .3s cubic-bezier(.25,.8,.25,1);
    transition-property: color, background-color, opacity;
}

a:not(.md-button) {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}


a:not(.md-button):hover {
    text-decoration: underline;
}


.md-body-1, body {
    font-weight: 400;
    line-height: 20px;
}

.md-body-1, .md-body-2, 
body {
    font-size: 14px;
    letter-spacing: .01em;
}

.flex {
    display: flex !important;
}

.flex-col {
    flex-direction: column !important;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

/*

NAV BAR

*/

.navbar {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}

.navbar a {
    color: #0a1f44 !important;
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between !important;
}

.align-center {
    align-items: center !important;
}

.navbar .logo {
    height: 40px;
    width: 40px;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.navbar .rle-active {
    color: #c7000c !important; 
}

.navbar .rle-active::after {
    background-color: #c7000c !important;
}


.navbar .link {
    position: relative;
}
.navbar .link::after {
    background-color: #0a1f44;
    transition: all .25s cubic-bezier(.694,.048,.335,1);
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    z-index: 2;
}
.navbar .link:hover::after {
    width: 100%;
    left: 0;
}



a.btn-contact {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #f7a050;
    border-radius: 50px;
    background-color: #c7000c;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}



a.btn-contact:hover {
    background-color: #f7a050;
    color: #fff !important;
}


.md-theme-default a:not(.md-button) {
    color: #448aff;
    color: var(--md-theme-default-primary-on-background, #448aff);
}


.md-theme-default a:not(.md-button) {
    color: #c7000c;
    color: var(--md-theme-default-primary-on-background, #c7000c);
}




/* 

Landing Page

*/

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#landing-page {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 10px 20px 0 20px;
    max-height: calc(100vh - 165px);
    overflow: hidden;
    display: flex;
    flex: 1;
}

h1 {
    font-size: 58px;
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #c7000c;
    text-align: center;
    margin-bottom: 50px;
}

.landing-title {
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #0a1f44;
    text-align: center;
    margin-bottom: 30px;
}

.landing-sub--title {
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

input {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
}
input:focus {
    box-shadow: 0 0 0 1px #c7000c
}

.input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 1.1s;
    opacity: 0;
}

button {
    width: 200px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    transition: all .25s ease;
}

button.not-loading {
    border: 1px solid #c7000c;
    background-color: #c7000c;
    box-shadow: 7px 7px 14px rgba(134,93,204,.3);
    cursor: pointer
}
button.not-loading:active {
transform: scale(.95)
}

button.not-loading:hover {
    background-color: #f7a050;
    border: 1px solid #f7a050
}

button.loading {
    background-color: #0a1f44;
    cursor: no-drop
}

button.loading:hover {
    background-color: #000
}

button.loading:active {
    transform: scale(1)
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.building {
    width: 100%;
    bottom: 0px;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: center;
    mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
}



/* 

PHONE NAV

*/
.__web-inspector-hide-shortcut__,
.__web-inspector-hide-shortcut__ *,
.__web-inspector-hidebefore-shortcut__::before,
.__web-inspector-hideafter-shortcut__::after {
    visibility: hidden !important;
}

#phone-nav {
    display: none;
    position: relative;
}

.bento-menu {
    width: 27px;
    height: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 5px;
    cursor: pointer;
}
.bento-menu>div {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #c7000c;
}

.show-anim-in {
    -webkit-animation: rotateToOne;
    animation: rotateToOne .3s;
    opacity: 1;
    border-radius: 0;
}

.close-btn {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    background-color: transparent;
    z-index: 2000;
    cursor: pointer;
}
.close-btn.show::after,
.close-btn.show::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    top: 50%;
    left: 50%;
    background-color: #c7000c;
}
.close-btn.show::before {
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .25s ease-in-out .18s;
}   
.close-btn.show::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all .25s ease-in-out .43s;
} 


.close-btn.show {
    pointer-events: auto;
}
.close-btn.show::after, 
.close-btn.show::before {
    width: 24px;
}

.showMenu {
    transform: translateX(100%);
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    z-index: 1005;
    background-color: hsla(0, 0%, 100%, .95);
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.showMenu.active {
    transform: translateX(0);
    opacity: 1;
}

a.linkM {
    color: #c7000c !important;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

.linkM {
    color: #c7000c;
    font-size: 20px;
    padding: 16px 0;
}


@media screen and (max-width: 350px) {
    input {
        font-size: 14px !important
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        padding: 0 20px;
        height: 85px
    }
}

@media screen and (max-height: 550px) {
    .building {
        display:none;
        position: absolute;
        bottom: 0%; 
    }
}

@media screen and (max-width: 585px) {

    h1,
    h2 {
        text-align: left
    }

    h2 {
        font-size: 34px;
        margin-bottom: 30px
    }

    h1 {
        font-size: 45px
    }

    .input-wrapper {
        flex-direction: column
    }

    .input-wrapper button {
        max-width: none !important;
        width: 100%;
        margin: 20px 0 0 0
    }

    .input-wrapper input {
        font-size: 16px;
        height: 60px;
        padding: 0 0 0 8px
    }

    #landing-page {
        max-height: none;
        padding: 10px 20px 0px 20px
    }

}

@media screen and (max-height: 600px) {
    .navbar {
        height:80px
    }

    #landing-page {
        padding-top: 0
    }

    h1 {
        font-size: 40px;
        margin-bottom: 10px
    }

    h2 {
        font-size: 26px;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 750px) {
    #phone-nav {
        display: block;
    }

    .links {
        display: none !important
    }

    input {
        font-size: 18px;
    }
}

@media screen and (max-height: 1200px) {
    #landing-page {
        max-height:none
    }

    .navbar {
        height: 100px
    }

    h1 {
        font-size: 50px
    }

    h2 {
        margin-bottom: 40px
    }
}
