* {
    font-family: Open Sans, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-col {
    flex-direction: column !important;
}

.flex {
    display: flex !important;
}

/*

NAV BAR

*/

.navbar {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.navbar .logo {
    height: 40px;
    width: 40px;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.navbar .link {
    position: relative;
}

.navbar .link:after {
    background-color: #0a1f44;
    transition: all .25s cubic-bezier(.694,.048,.335,1);
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    z-index: 2
}

.navbar .link:hover:after {
    width: 100%;
    left: 0
}

.navbar .router-link-exact-active {
    color: #6030b1!important
}
.navbar .router-link-exact-active:after {
    background-color: #6030b1!important
}

.navbar a {
    color: #0a1f44!important;
    text-decoration: none
}